#roomButton {
    -fx-background-color: linear-gradient(to right, rgba(255, 126, 95, 1) 0%, rgba(255, 126, 95, 0) 100%);
}
#roomButton:hover {
    -fx-opacity: 0.3;
}

#memberButton {
    -fx-background-color: linear-gradient(to right, rgba(255, 126, 95, 1) 0%, rgba(255, 126, 95, 0) 100%);
}
#memberButton:hover {
    -fx-opacity: 0.3;
}

#expenditureButton {
    -fx-background-color: linear-gradient(to right, rgba(255, 126, 95, 1) 0%, rgba(255, 126, 95, 0) 100%);
}
#expenditureButton:hover {
    -fx-opacity: 0.3;
}

#historyButton {
    -fx-background-color: linear-gradient(to right, rgba(255, 126, 95, 1) 0%, rgba(255, 126, 95, 0) 100%);
}
#historyButton:hover {
    -fx-opacity: 0.3;
}

#logoutButton {
    -fx-background-color: linear-gradient(to right, rgba(255, 126, 95, 1) 0%, rgba(255, 126, 95, 0) 100%);
}
#logoutButton:hover {
    -fx-opacity: 0.3;
}

.list-cell {
    -fx-font-family: "Geomanist Medium"; /* Font chữ */
    -fx-font-size: 19; /* Cỡ chữ */
    -fx-text-fill: #000000; /* Màu chữ */
}