#groupButton {
    -fx-background-color: linear-gradient(to right, rgba(255, 126, 95, 1) 0%, rgba(255, 126, 95, 0) 100%);
}
#groupButton:hover {
    -fx-opacity: 0.3;
}

#memberButton {
    -fx-background-color: linear-gradient(to right, rgba(255, 126, 95, 1) 0%, rgba(255, 126, 95, 0) 100%);
}
#memberButton:hover {
    -fx-opacity: 0.3;
}

#expenditureButton {
    -fx-background-color: linear-gradient(to right, rgba(255, 126, 95, 1) 0%, rgba(255, 126, 95, 0) 100%);
}
#expenditureButton:hover {
    -fx-opacity: 0.3;
}

#historyButton {
    -fx-background-color: linear-gradient(to right, rgba(255, 126, 95, 1) 0%, rgba(255, 126, 95, 0) 100%);
}
#historyButton:hover {
    -fx-opacity: 0.3;
}

#logoutButton {
    -fx-background-color: linear-gradient(to right, rgba(255, 126, 95, 1) 0%, rgba(255, 126, 95, 0) 100%);
}
#logoutButton:hover {
    -fx-opacity: 0.3;
}